<p>
  <strong>年级：</strong>
  <%= @session.session_name  %>
</p>

<p>
  <strong>班级：</strong>
  <%= @session.class_name  %>
</p>

<!--这里需要注意，找到的是数组的格式，所以，还需要从数组的格式中取到我们需要的那个数据
    还要注意 where语句需要用到  双引号。

-->
<p>
  <strong>班级状态：</strong>
  <%= State.where(" id = #{@session.state_id} ").first.state_name %>
</p>
