
<h2>修改人员</h2>

  <form action="/users" method="post" id="formid">
    <p>
    姓名：<input type="text" name="name" placeholder:"请输入姓名">
    </p>
    <p>
    性别：
    <input type="text" name="sex" placeholder:"请输入姓名">
    </p>
    <p>
    年龄：
    <input type="text" name="age" placeholder:"请输入姓名">
    </p>
    <p>
    身份证：
    <input type="text" name="id_card" placeholder:"请输入姓名">
    </p>
    <p>
    角色：
    <input type="text" name="role" placeholder:"请输入姓名">
    </p>
    <p>
    电话：
    <input type="text" name="phone" placeholder:"请输入姓名">
    </p>
    <p>
    邮箱：
    <input type="text" name="email" placeholder:"请输入姓名">
    </p>
    <p>
    借书证：
    <input type="text" name="person_number" placeholder:"请输入姓名">
    </p>
    <p>
    状态：
    <input type="text" name="state" placeholder:"请输入姓名">
    </p>
    <p>
    年级：
    <input type="text" name="period_name" placeholder:"请输入姓名">
    </p>
    <p>
      <%= select_tag @period, options_from_collection_for_select(@periods, "id", "name")  %>
    </p>
  </form>


<script>

  //这里对form进行验证,重要的事情请重视起来，用到插件jquery.validate.js
  //然后，form内部的input框，所有的限制条件，写在rules中。
  $('#formid').validate({
    rules:{
      "name": {
        required: true,
      },
      "sex": {
        required: true,
      },
      "age": {
        required: true,
        digits:true
      },
      "id_card": {
        required: true,
      },
      "role": {
        required: true,
      },
      "phone": {
        required: true,
        digits:true
      },
      "email": {
        required: true,
      },
      "person_number": {
        required: true,
        digits:true
      },
      "state_id": {
        required: true,
        digits:true
      }
    }
  });

  //这是对英文注释的中文翻译
  jQuery.extend(jQuery.validator.messages, {
    required: "输入框不能为空",
    remote: "请修正该字段",
    email: "请输入正确格式的电子邮件",
    url: "请输入合法的网址",
    date: "请输入合法的日期",
    dateISO: "请输入合法的日期 (ISO).",
    number: "请输入合法的数字",
    digits: "只能输入整数",
    creditcard: "请输入合法的信用卡号",
    equalTo: "请再次输入相同的值",
    accept: "请输入拥有合法后缀名的字符串",
    maxlength: jQuery.validator.format("请输入一个 长度最多是 {0} 的数字"),
    minlength: jQuery.validator.format("请输入一个 长度最少是 {0} 的数字"),
    rangelength: jQuery.validator.format("请输入 一个长度介于 {0} 和 {1} 之间的数字"),
    range: jQuery.validator.format("请输入一个介于 {0} 和 {1} 之间的值"),
    max: jQuery.validator.format("请输入一个最大为{0} 的值"),
    min: jQuery.validator.format("请输入一个最小为{0} 的值")
  });


</script>
